@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variable.css";

* {
  font-family: "Dosis", sans-serif;
}

body {
  background-color: var(--bg-clolor);
}

h1 {
  font-family: "Yeseva One", cursive;
}

.welcome-header {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  color: var(--main-color);
  font-size: 25px;
  margin-bottom: 40px;
}

.welcome-header__text {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-form input {
  background-color: var(--bg-clolor);
  height: 40px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1.8px solid white;
  transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in;
}

.login-form input:focus {
  outline: none;
  border-color: var(--main-color);
}

.login-form input::placeholder {
  color: white;
}

.login-form input:nth-child(2) {
  margin-bottom: 50px;
}

.login-form input[type="submit"] {
  background-color: white;
  color: var(--main-color);
  height: 45px;
  border: none;
  border-radius: 5px;
}

.login-form input[type="submit"]:hover {
  background-color: var(--sub-bg-color);
  color: white;
}

.login-form a {
  align-self: center;
  font-size: 15px;
}

.login-form a:visited {
  color: var(--main-color);
}
