
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import "reset.css";
@import "status-bar.css";

body {
    background-color: #89b0e5;    
}

h1, span {
    font-family: 'Yeseva One', cursive;
}

.welcome-header {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    font-size: 25px;
    margin-bottom: 40px;
}

.welcome-header__text {
    width: 50%;
    text-align: center;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.login-form input {  
    background-color: #89b0e5;
    height: 40px;
    border: 0;
    border-bottom: 1.5px solid #d5d5d5;
}

.login-form input::placeholder {
    color: white;
}


.login-form input:nth-child(2) {
    margin-bottom: 50px;
}

.login-form a {
    
}