/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

/* CSS */
@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* Screens */
@import "screens/login.css";

body {
  font-family: "Dosis", sans-serif;
  background-color: var(--bg-clolor);
}

h1 {
  font-family: "Yeseva One", cursive;
}

